.container {
    width: 100%;
    max-width: 60rem;
    justify-self: center;
    align-self: center;
    margin: 7rem 0;
}

@include mediaLg { //1552
    .container {
        margin: 5rem 0;
        max-width: 50rem;
    }
}

@include mediaMd { //1165
    .container {
        margin: 5rem 0;
        max-width: 45rem;
    }
}

@include mediaSm { //769
    .container {
        margin: 5rem 1rem;
        max-width: 35rem;
    }
}

@include mediaXs { //600
    .container {
        margin-top: 15rem;
        margin: 5rem 1rem;
        padding: 0 1rem;
        max-width: 23rem;
    }
}