*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

a {
    text-decoration: none;
    text-emphasis: none;

    &:focus {
        outline: none;
    }
}

input:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: $background-primary-color;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

input:focus, textarea:focus{
    outline: none;
}

textarea{
    resize: none;
}